.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25vw;
    height: 150px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
     
}
.subtotal_gift{
    display: flex;
    align-items: center;
}

.subtotal_gift input{
    margin-right: 5px;
}

.subtotal  button{

    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    font-weight: 500;
    cursor: pointer;
width: 100%;
font-weight: 600;
            transition: 0.2s all;
}


.subtotal  button:active {
    transform: scale(1.1);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}